.hero-banner {
  background-image: url('../assets/images/hero.png');
  background-size: cover;
  background-position: center;
  height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}

.hero-banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* 20% opaque black background */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero-banner .container, 
.hero-banner h1, 
.hero-banner p, 
.hero-banner .small-text, 
.hero-banner a {
  color: #fff !important; 
}

/* Center the text on mobile devices (screens smaller than 768px) */
@media (max-width: 768px) {
  .hero-banner {
    justify-content: center; /* Center the text horizontally */
    padding-left: 0;         /* Remove left padding */
    text-align: center;      /* Center the text */
  }

  .hero-banner .overlay {
    justify-content: center; /* Center the overlay content */
  }

  .main-text {
    margin-bottom: 50px;
  }

  .hero-banner h1 {
    font-size: 1.65rem !important;
    white-space: nowrap;
  }
}



.img-placeholder {
  background-image: url('../assets/images/small.png');
  width: 300px; 
  height: 300px; 
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #ffffff; 
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.small-text {
  font-size:20px; 
  margin-bottom: 0.5rem; 
  color: #ccc;
}

.main-text p {
  line-height: 28px;
}